.container {
  display: block;
  margin: auto;
  padding: 0 15px;
  @media (min-width: 768px) {
    width: 768px;
  }
}

a.navigation {
  &:not(.disabled) {
    cursor: pointer;
  }
  color: #83b8dc;
  &.active {
    color: #2d88c9;
  }
  &.disabled {
    color: #88949d;
  }
}

.title {
  padding: 16px;

  font-size: 24px;
  text-align: center;
}

.plans {
  padding-left: 20px;
}

.plan {
  flex-basis: 27.9%;
  // display: inline-block;
  // width: 178px;
  background-color: #f4f7f8;
  text-align: center;
  padding: 10px;
  @media (max-width: 767px) {
    flex-basis: 44.3%;
  }
}

.formSection {
  .content {
    .plan {
      text-align: left;
      width: initial;
      display: block;
      padding: 21px 25px;
    }
    md-input-container {
      display: block;
    }
    .formContainer {
      flex-grow: 4;
      padding: 16px 24px;
      background-color: #ffffff;
      form {
        padding: 40px 0;
        width: 400px;
        margin: auto;
      }
    }
  }
}

md-button {
  padding: 8px 16px;
}

md-card-content {
  padding: 16px;
}

